# 
NEXT_PUBLIC_BACKEND_BASE_URL=https://kwl-redesign.up.railway.app
NEXTAUTH_SECRET=f069615565a928fe32c920ef1f6d0910
NEXTAUTH_URL=https://kwl-redesign.up.railway.app
NEXT_PUBLIC_SERVER_SIDE_URL=https://kwl-redesign.up.railway.app 
BACKEND_SERVER_URL=https://kwl-redesign.up.railway.app
NEXT_PUBLIC_WEBSOCKET_URL=ws://https://kwl-redesign.up.railway.app/ws/
NEXT_PUBLIC_GOOGLE_ANALYTICS=G-Q82Y6KPKQH

NEXT_PUBLIC_BASE_URL=https://kwl-redesign.up.railway.app

GOOGLE_OAUTH2_CLIENT_ID=884823220849-ggv63g0irlfch32kc3lk2klq0l10csc8.apps.googleusercontent.com
GOOGLE_OAUTH2_CLIENT_SECRET=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

NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=Helpdesk
NEXT_PUBLIC_KEYCLOAK_ISSUER=https://kccs.cs.ui.ac.id/realms/cs12

KEYCLOAK_JWKS_URI=https://kccs.cs.ui.ac.id/realms/cs12/protocol/openid-connect/certs
KEYCLOAK_ISSUER=https://kccs.cs.ui.ac.id/realms/cs12
KEYCLOAK_AUDIENCE=kwl-dev
KEYCLOAK_CLIENT_ID=kwl-dev
KEYCLOAK_CLIENT_SECRET=""


# NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:8000
# NEXTAUTH_URL=http://localhost:3000
# NEXT_PUBLIC_SERVER_SIDE_URL=http://localhost:8000
# BACKEND_SERVER_URL=http://localhost:8000
# NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:8000/ws/
# NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=sipeg-dev
# KEYCLOAK_AUDIENCE=sipeg-dev
# KEYCLOAK_CLIENT_ID=sipeg-dev

# NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:8000
# # NEXT_PUBLIC_BACKEND_BASE_URL=http://localhost:8000
# NEXTAUTH_SECRET=f069615565a928fe32c920ef1f6d0910
# # NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_URL=http://localhost:3000
# NEXT_PUBLIC_SERVER_SIDE_URL=http://localhost:8000
# # NEXT_PUBLIC_SERVER_SIDE_URL=http://localhost:8000
# BACKEND_SERVER_URL=http://localhost:8000
# # BACKEND_SERVER_URL=http://localhost:8000
# NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:8000/ws/
# # NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:8000/ws/
# NEXT_PUBLIC_GOOGLE_ANALYTICS=G-Q82Y6KPKQH

# NEXT_PUBLIC_BASE_URL=http://localhost:3000

# GOOGLE_OAUTH2_CLIENT_ID=884823220849-ggv63g0irlfch32kc3lk2klq0l10csc8.apps.googleusercontent.com
# GOOGLE_OAUTH2_CLIENT_SECRET=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

# NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=Helpdesk
# # NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=sipeg-dev
# NEXT_PUBLIC_KEYCLOAK_ISSUER=https://kccs.cs.ui.ac.id/realms/cs12

# KEYCLOAK_JWKS_URI=https://kccs.cs.ui.ac.id/realms/cs12/protocol/openid-connect/certs
# KEYCLOAK_ISSUER=https://kccs.cs.ui.ac.id/realms/cs12
# # KEYCLOAK_AUDIENCE=sipeg-dev
# KEYCLOAK_AUDIENCE=kwl-dev
# # KEYCLOAK_CLIENT_ID=sipeg-dev
# KEYCLOAK_CLIENT_ID=kwl-dev
# KEYCLOAK_CLIENT_SECRET=""